@model List<NProject.Models.Domain.Invitation>

@{
    ViewBag.Title = "My Messages";
    Layout = "~/Views/Shared/Site.Layout.cshtml";
}

<h2>My received invitations</h2>

<table class="table table-striped">
@foreach (var s in Model)
{ 
    <tr>
        <td>
        You have been invited to project "@s.Project.Name"<br />
        @Html.ActionLink("Accept", "ProcessInvite", "Project", new { id = s.Id, verb = "accept" }, new { }) | 
        @Html.ActionLink("Decline", "ProcessInvite", "Project", new { id = s.Id, verb = "decline" }, new { }) | 
        @Html.ActionLink("Block", "ProcessInvite", "Project", new { id = s.Id, verb = "block" }, new { })
        </td>
    </tr>
}
</table>
