@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h2>NProject</h2>
    @RenderBody()
    <hr />
    @Html.AbsActionLink("NProject", "Index", "Home") &copy; @DateTime.UtcNow.Year
</body>
</html>
